.page-overview .section-configure-wrapper .configure-item-case {
  background-image: url("/in/watch/shared/configure/images/store/cto/overview/overview-cto-case__eynl5c3seg4m_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-overview .section-configure-wrapper .configure-item-case {
    background-image: url("/in/watch/shared/configure/images/store/cto/overview/overview-cto-case__eynl5c3seg4m_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .page-overview .section-configure-wrapper .configure-item-case {
    background-image: url("/in/watch/shared/configure/images/store/cto/overview/overview-cto-case__eynl5c3seg4m_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-overview .section-configure-wrapper .configure-item-case {
    background-image: url("/in/watch/shared/configure/images/store/cto/overview/overview-cto-case__eynl5c3seg4m_medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .page-overview .section-configure-wrapper .configure-item-case {
    background-image: url("/in/watch/shared/configure/images/store/cto/overview/overview-cto-case__eynl5c3seg4m_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-overview .section-configure-wrapper .configure-item-case {
    background-image: url("/in/watch/shared/configure/images/store/cto/overview/overview-cto-case__eynl5c3seg4m_small_2x.png");
  }
}

.page-design .section-configure-wrapper .configure-item-case {
  background-image: url("/v/watch/shared/configure/a/images/store/cto/design/design-cto-case__fpioqtixlzam_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-design .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/design/design-cto-case__fpioqtixlzam_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .page-design .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/design/design-cto-case__fpioqtixlzam_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-design .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/design/design-cto-case__fpioqtixlzam_medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .page-design .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/design/design-cto-case__fpioqtixlzam_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-design .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/design/design-cto-case__fpioqtixlzam_small_2x.png");
  }
}

.page-health .section-configure-wrapper .configure-item-case {
  background-image: url("/v/watch/shared/configure/a/images/store/cto/health/health-cto-case__edxhgdb172qa_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-health .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/health/health-cto-case__edxhgdb172qa_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .page-health .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/health/health-cto-case__edxhgdb172qa_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-health .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/health/health-cto-case__edxhgdb172qa_medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .page-health .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/health/health-cto-case__edxhgdb172qa_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-health .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/health/health-cto-case__edxhgdb172qa_small_2x.png");
  }
}

.page-workout .section-configure-wrapper .configure-item-case {
  background-image: url("/v/watch/shared/configure/a/images/store/cto/workout/workout-cto-case__bylg29v011le_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-workout .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/workout/workout-cto-case__bylg29v011le_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .page-workout .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/workout/workout-cto-case__bylg29v011le_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-workout .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/workout/workout-cto-case__bylg29v011le_medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .page-workout .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/workout/workout-cto-case__bylg29v011le_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-workout .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/workout/workout-cto-case__bylg29v011le_small_2x.png");
  }
}

.page-connect .section-configure-wrapper .configure-item-case {
  background-image: url("/v/watch/shared/configure/a/images/store/cto/connect/connect-cto-case__gix28ugy3866_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-connect .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/connect/connect-cto-case__gix28ugy3866_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .page-connect .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/connect/connect-cto-case__gix28ugy3866_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-connect .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/connect/connect-cto-case__gix28ugy3866_medium_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .page-connect .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/connect/connect-cto-case__gix28ugy3866_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-connect .section-configure-wrapper .configure-item-case {
    background-image: url("/v/watch/shared/configure/a/images/store/cto/connect/connect-cto-case__gix28ugy3866_small_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .image-competitions-1 {
    padding-bottom: 120%;
    background-repeat: no-repeat;
    background-image: url("/in/apple-watch-series-5/images/watchos/fitness/activity-competitions/gallery-competitions-invite__ffdqqme9fumy_small.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .image-competitions-2 {
    padding-bottom: 120%;
    background-repeat: no-repeat;
    background-image: url("/in/apple-watch-series-5/images/watchos/fitness/activity-competitions/gallery-competitions-notification__fnxclssgc5iu_small.jpg");
  }
}

.page-workout
  .section-compare.series-5
  .compare-flex-two-up.series-5
  .s5-compare-item-series-5
  .compare-item-image {
  width: 432px;
  height: 520px;
  background-size: 432px 520px;
  background-repeat: no-repeat;
  background-image: url("/in/watch/shared/compare/images/series-5/compare-s5__b441wvjpjliu_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .page-workout
    .section-compare.series-5
    .compare-flex-two-up.series-5
    .s5-compare-item-series-5
    .compare-item-image {
    background-image: url("/in/watch/shared/compare/images/series-5/compare-s5__b441wvjpjliu_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .page-workout
    .section-compare.series-5
    .compare-flex-two-up.series-5
    .s5-compare-item-series-5
    .compare-item-image {
    width: 314px;
    height: 380px;
    background-size: 314px 380px;
    background-repeat: no-repeat;
    background-image: url("/in/watch/shared/compare/images/series-5/compare-s5__b441wvjpjliu_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .page-workout
    .section-compare.series-5
    .compare-flex-two-up.series-5
    .s5-compare-item-series-5
    .compare-item-image {
    background-image: url("/in/watch/shared/compare/images/series-5/compare-s5__b441wvjpjliu_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .page-workout
    .section-compare.series-5
    .compare-flex-two-up.series-5
    .s5-compare-item-series-3-series-5
    .compare-item-image {
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-image: url("/in/watch/shared/compare/images/series-5/compare-s5s3__ciavckprsno2_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .page-workout
    .section-compare.series-5
    .compare-flex-two-up.series-5
    .s5-compare-item-series-3-series-5
    .compare-item-image {
    background-image: url("/in/watch/shared/compare/images/series-5/compare-s5s3__ciavckprsno2_small_2x.jpg");
  }
}
